
.commentList {
  ul {
    margin-top: 20px;
    list-style: none;

    li {
      margin: 10px 0;
    }
  }

  h4 {
    text-align: center;
  }
}

.commentListAlert {
  margin-top: 30px;
}

.reviews {
  ul {
    list-style: none;
  }
}
